---
import fs from "fs/promises";
import path from "path";
import Page from "../layouts/Page.astro";

import { Editor } from "@/components/Editor";
import { FileTree } from "@/components/FileTree";
import { getFiles } from "@/lib/files";
import { resolveMarkdownFilePath } from "@/lib/paths";

const { slug } = Astro.params;
const filePath = slug ?? "";

const { targetPath } = Astro.locals;
const files = await getFiles(targetPath);

const fullPath = resolveMarkdownFilePath(targetPath, filePath);

let content = "";

if (filePath != "") {
  if (!fullPath) {
    return new Response(null, { status: 404, statusText: "Not found" });
  }

  try {
    content = await fs.readFile(fullPath, "utf-8");
  } catch {
    return new Response(null, { status: 404, statusText: "Not found" });
  }
}

const filename = filePath ? path.basename(filePath) : undefined;
---

<Page title={filename}>
  <Fragment slot="file-tree">
    <FileTree items={files} activePath={`/${slug}`} client:only="react" />
  </Fragment>
  <Fragment slot="editor">
    {
      filePath ? (
        <Editor content={content} filePath={filePath} client:only="react" />
      ) : (
        <div class="flex h-full items-center justify-center p-8">
          <p class="font-mono text-gray-500">
            Select or create a file from the sidebar.
          </p>
        </div>
      )
    }
  </Fragment>
</Page>
